<a href="https://colab.research.google.com/github/snehabarua/python-basics/blob/master/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

everything in python is an object. even salary =1000 and even print func
fucntions are manipulators of object. functins start with def means define

In [ ]:
type(100)

int

In [ ]:
job_title="data analyst",
job_location="meerut"

In [ ]:
id(job_title)

138195401518640

In [ ]:
def greet():
  return "yo nerd"

In [ ]:
greet()

'yo nerd'

In [ ]:
class Job_Post:
  def __init__(self,title,location):
    self.title=title
    self.location=location

In [ ]:
job_details=Job_Post(job_title,job_location)

In [ ]:
job_details.title

('data analyst',)

In [ ]:
my_salary= 900000

In [ ]:
my_salary.__add__(1)

900001

#### Built-in Types

Python has the following data types built-in by default:
| Type               | Data Type           | Example               |
|--------------------|---------------------|-----------------------|
| Text               | `str`               | `"Data Nerd!"`     |
| Numeric            | `int`               | `42`                  |
|                    | `float`             | `3.14159`             |
|                    | `complex`           | `1 + 2j`              |
| Sequence           | `list`              | `[1, 2, 3]`           |
|                    | `tuple`             | `(1, 2, 3)`           |
|                    | `range`             | `range(10)`           |
| Mapping            | `dict`              | `{"key": "value"}`    |
| Set                | `set`               | `{1, 2, 3}`           |
|                    | `frozenset`         | `frozenset([1, 2, 3])`|
| Boolean            | `bool`              | `True` or `False`     |
| Binary             | `bytes`             | `b"Data"`            |
|                    | `bytearray`         | `bytearray(5)`        |
|                    | `memoryview`        | `memoryview(b"Data")`|
| None               | `NoneType`          | `None`                |

For more information on the different data types in Python check out the Python documentation for data types [here](https://docs.python.org/3/library/datatypes.html).

#### Types Common in Data Analytics

We'll mainly focus on the most common ones in data analytics:
* Text Type: `str`
* Numeric Types: `int`, `float`
* Sequence Types:	`list`, `tuples`
* Mapping Type:	`dict`
* Set Types:	`set`

### Importance

Fundamental for data processing. Pandas and matplotlib automatically handle different data types for operations like mathematical calculations, data manipulation, and plotting.

In [3]:
"data "+ "nerd"

'data nerd'

In [4]:
job_id=102

In [5]:
job_id=float(102)
type(job_id)

float

class - template for creating objects(records). def inside class is a method. jobdetails is instance of jobpost class created .
attributes are field in a record defined by its class. eg -self.title=title,
    self.location=location